PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/edutrack
JWT_SECRET=replace_this_with_a_long_random_secret
CLIENT_URL=http://localhost:5173
CLIENT_URLS=https://edutrack.pages.dev
JWT_EXPIRES_IN=7d
EMAIL_USER=ujalasah123456@gmail.com
EMAIL_PASS=fqjvtnfsivspboca
